
<div class="card" *ngIf="is_view && ShowForm">

 <div class="row" style="padding: 16px">
      <div class="col-sm-12">
        <a  (click)="close()" mdbRippleRadius style="cursor: pointer;" ><i class="fa fa-chevron-left"></i> BACK</a>          
      </div>
    </div>

    <div class="row"> 
    <div class="col-lg-12">
       <div class="auth-box card">
      <div class="card-block">
      <div class="general-info form-material" style="padding: 28px">

  <form  (ngSubmit)="onSubmit()">
              <div class="container1" >             
              <div class="form-group">   
                <label>First Name</label>             
                    <input type="text"  readonly="" [(ngModel)]= "viewdata.catt_first_name" name="catt_first_name" class="form-control" />
                    </div>     

                    <div class="form-group">   
                <label>Sur Name</label>             
                    <input type="text"  readonly="" [(ngModel)]= "viewdata.catt_sur_name" name="SurName" class="form-control" />
                    </div>              
                   
                    
                    <div class="form-group">   
                <label>Email Address</label>             
                    <input type="text"  readonly="" [(ngModel)]= "viewdata.catt_email_address" name="EmailAddress" class="form-control" />
                    </div> 

                    <div class="form-group">   
                <label>Mobile No</label>             
                    <input type="text"  readonly="" [(ngModel)]= "viewdata.catt_mobile_no" name="MobileNo" class="form-control" />
                    </div> 

                    <div class="form-group">   
                <label>Password</label>             
                    <input type="password"  readonly="" [(ngModel)]= "viewdata.catt_password" name="Password" class="form-control" />
                    </div> 
<!-- 
                    <div class="form-group">   
                <label>Address</label>             
                    <textarea readonly="" [(ngModel)]= "viewdata.catt_address" name="firstname" class="form-control"></textarea>
                    </div> 

                    <div class="form-group">   
                <label>Deliver Pincode</label>             
                    <input type="text"  readonly="" [(ngModel)]= "viewdata.catt_delivery_pincode" name="firstname" class="form-control" />
                    </div>  --> 

                    <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <label>Delivery From Time</label>
                        <ngb-timepicker name="delivery_time_from"[(ngModel)]="viewdata.catt_delivery_time" [meridian]="meridian"></ngb-timepicker>
                        </div>
                        <div class="col-md-6">
                        <label>Delivery To Time</label>
                        <ngb-timepicker name="delivery_time_to"[(ngModel)]="viewdata.catt_delivery_time" [meridian]="meridian"></ngb-timepicker>
                        </div>
                  </div>
                </div>

                <div class="form-group">   
                <label>Min Order</label>             
                    <input type="number"  readonly="" [(ngModel)]= "viewdata.catt_min_order" name="MinOrder" class="form-control" />
                    </div> 

                    <div class="form-group">   
                <label>Max Order</label>             
                    <input type="number"  readonly="" [(ngModel)]= "viewdata.catt_max_order" name="maxOrder" class="form-control" />
                    </div> 

                    <div class="form-group">   
                <label>Lead Time(in days)</label>             
                    <input type="number"  readonly="" [(ngModel)]= "viewdata.catt_lead_time" name="EventType" class="form-control" />
                    </div> 
                 
                  <div class="form-group">
                        <img src="{{image_path}}{{viewdata.catt_gst_certificate}}">                   
                  </div>

                  <div class="form-group">
                        <img src="{{image_path1}}{{viewdata.catt_food_certificate}}">                   
                  </div>

                  <div class="form-group">   
                <label>Score</label>             
                    <input type="text"  readonly="" [(ngModel)]= "viewdata.catt_score" name="Scores" class="form-control" />
                    </div>

                    <div class="form-group">
                        <img src="{{image_path2}}{{viewdata.catt_file_upload}}">                   
                  </div>

           <div class="row">                
                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 10px" (click)="close()"> Close</button>
                 </div>
              </div>
  </form>
</div>
</div>
</div>

</div>
</div>
</div>


<div class="card" *ngIf="is_edit && ShowForm">

 <div class="row" style="padding: 16px">
      <div class="col-sm-12">
        <a  (click)="close()" mdbRippleRadius style="cursor: pointer;" ><i class="fa fa-chevron-left"></i> BACK</a>          
      </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
       <div class="auth-box card">
      <div class="card-block">
      <div class="general-info form-material" style="padding: 28px">
  
      <form #myForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="container1" >                         
              <div class="form-group">   
                <label>First Name</label>             
                    <input type="text"  [(ngModel)]= "catt_first_name" name="FirstName" class="form-control" />
                    </div>     

                    <div class="form-group">   
                <label>Sur Name</label>             
                    <input type="text"  [(ngModel)]= "catt_sur_name" name="SurName"  class="form-control" />
                    </div> 

                    <div class="form-group">   
                <label>Email Address</label>             
                    <input type="text"  [(ngModel)]= "catt_email_address" name="EmailAddress" class="form-control" />
                    </div> 

                    <div class="form-group">   
                <label>Mobile No</label>             
                    <input type="text"  [(ngModel)]= "catt_mobile_no" name="MobileNo" class="form-control" />
                    </div> 

                    <div class="form-group">   
                <label>Password</label>             
                    <input type="password"  [(ngModel)]= "catt_password" name="Password" class="form-control" />
                    </div>     

                     <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 53%;margin-top: -69px;position: absolute;" (click)="addItem()"> Add More Address</button>

                     <div *ngFor="let option of Address;let i=index">
                    <div class="input-group">
                      <div class="input-group-prepend"><br><br>
                        <div (click)="deleteFieldValue(i)" class="input-group-text" style="height: 34px;">
                          <i class="fa fa-close mdi-18px"></i>
                        </div><br><br>
                      </div><br><br>

                      <input [(ngModel)]="option.address" name="address[]" class="form-control" type="text"  placeholder="Address">
                       <input [(ngModel)]="option.pincode" name="pincode[]" class="form-control" type="text"  placeholder="Pincode" style="margin-left:20px;"><br><br>
                       <br>
                      
                    </div>
                    
              </div>


                <!-- <div class="form-group">   
                <label>Delivery Pincode</label>             
                    <input type="text"  [(ngModel)]= "catt_delivery_pincode" class="form-control" />
                    </div>  -->

                     <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <label>Delivery From Time</label>
                        <ngb-timepicker name="delivery_time_from" [(ngModel)]= "delivery_time_from" [meridian]="meridian"></ngb-timepicker>
                        </div>
                        <div class="col-md-6">
                        <label>Delivery To Time</label>
                        <ngb-timepicker [(ngModel)]= "DeliveryTime_to" name="delivery_time_from" [meridian]="meridian"></ngb-timepicker>
                        </div>
                  </div>
                </div>
                               
                   <div class="form-group">   
                <label>Min Order</label>             
                    <input type="number"  [(ngModel)]= "catt_min_order" name="sda" class="form-control" />
                    </div>

                    <div class="form-group">   
                <label>Max Order</label>             
                    <input type="number"  [(ngModel)]= "catt_max_order" name="sdass" class="form-control" />
                    </div>

                    <div class="form-group">   
                <label>Lead Time(in days)</label>             
                    <input type="number"  [(ngModel)]= "catt_lead_time" name="abc" class="form-control" />
                    </div>
                 
                  <div class="form-group">
                    <label>GST Certificate</label>    
                        <input type="file" (change)="getFileDetails($event)" [(ngModel)]= "catt_GST_certificate"accept=".jpg,.png,.jpeg,.PNG" class="form-control" />                  
                   <img  style="height: 179px;width: 254px;" src="{{image_path}}{{GSTCertificate}}" *ngIf=is_edit>
                  </div>

                  <div class="form-group">
                    <label>Food Certificate</label>    
                        <input type="file" (change)="getFileDetails1($event)" [(ngModel)]= "catt_food_certificate"accept=".jpg,.png,.jpeg,.PNG" class="form-control" />                  
                   <img  style="height: 179px;width: 254px;" src="{{image_path1}}{{FoodCertificate}}" *ngIf=is_edit>
                  </div>

                  <div class="form-group">   
                <label>Score</label>             
                    <input type="text"  [(ngModel)]= "catt_score" name="sdas" class="form-control" />
                    </div>

                    <div class="form-group">
                    <label>File Upload</label>    
                        <input type="file" (change)="getFileDetails($event)" [(ngModel)]= "catt_file_upload"accept=".jpg,.png,.jpeg,.PNG" class="form-control" />                  
                   <img  style="height: 179px;width: 254px;" src="{{image_path2}}{{FileUpload}}" *ngIf=is_edit>
                  </div>

                  <div class="error">
         {{error}}
         </div>
           <div class="row">                
                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 10px" (click)="close()"> Close</button>

                    <input type="hidden" name="">
                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="submit" style="margin-left: 10px"  >{{editdata.testi_id ? 'Update':'Save'}}</button>

                 </div>
              </div>
  </form>
</div>
</div>
</div>

</div>
</div>
</div>

<div class="card" *ngIf="is_add && ShowForm">

 <div class="row" style="padding: 16px">
      <div class="col-sm-12">
        <a  (click)="close()" mdbRippleRadius style="cursor: pointer;" ><i class="fa fa-chevron-left"></i> BACK</a>          
      </div>
    </div>

    <div class="row"> 
    <div class="col-lg-12">
       <div class="auth-box card">
      <div class="card-block">
      <div class="general-info form-material" style="padding: 28px">

  <form  (ngSubmit)="onSubmit()">
              <div class="container1" >             
              <div class="form-group">                
                    <input type="text" placeholder="First Name" [(ngModel)]= "FirstName" name="FirstName" class="form-control" />
                    </div>                  
                   
                    <div class="form-group">
                        <input type="text" placeholder="Sur Name" [(ngModel)]= "SurName"name="SurName" class="form-control" />                      
                  </div>

                    <div class="form-group">
                        <input type="text" placeholder="Email Address" [(ngModel)]= "EmailAddress"name="EmailAddress" class="form-control" />                      
                  </div>


                    <div class="form-group">
                        <input type="text" placeholder="Mobile No"[(ngModel)]= "MobileNo" name="MobileNo" class="form-control" />                      
                  </div>

                  <div class="form-group">
                        <input type="password" placeholder="Password" [(ngModel)]= "Password"name="Password" class="form-control" />                      
                  </div>
                  <br>
                  <!-- <div class="form-group">
                        <textarea placeholder="Address" [(ngModel)]= "Address"name="Address" class="form-control"></textarea>                      
                  </div>  -->
                  <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 53%;margin-top: -69px;position: absolute;" (click)="addItem()"> Add More Address</button>

                    <div *ngFor="let option of Address;let i=index">
                    <div class="input-group">
                      <div class="input-group-prepend"><br><br>
                        <div (click)="deleteFieldValue(i)" class="input-group-text" style="height: 34px;">
                          <i class="fa fa-close mdi-18px"></i>
                        </div><br><br>
                      </div><br><br>

                      <input [(ngModel)]="option.address" name="address[]" class="form-control" type="text"  placeholder="Address">
                       <input [(ngModel)]="option.pincode" name="pincode[]" class="form-control" type="text"  placeholder="Pincode" style="margin-left:20px;"><br><br>
                       <br>
                      
                    </div>
                    
              </div>
              <br>
              
                  <!-- <div class="form-group">
                        <input type="text" placeholder="Delivery Pincode" [(ngModel)]= "DeliveryPincode"name="DeliveryPincode" class="form-control" />                      
                  </div> -->


                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <label>Delivery From Time</label>
                        <ngb-timepicker name="delivery_time_from"[(ngModel)]="DeliveryTime_from" [meridian]="meridian"></ngb-timepicker>
                        </div>
                        <div class="col-md-6">
                        <label>Delivery To Time</label>
                        <ngb-timepicker name="delivery_time_to"[(ngModel)]="DeliveryTime_to" [meridian]="meridian"></ngb-timepicker>
                        </div>
                  </div>
                </div>


                  <div class="form-group">
                        <input type="number" placeholder="Min Order" [(ngModel)]= "MinOrder"name="MinOrder" class="form-control" />                      
                  </div>

                  <div class="form-group">
                        <input type="number" placeholder="Max Order" [(ngModel)]= "maxOrder"name="maxOrder" class="form-control" />                      
                  </div>

                  <div class="form-group">
                         <input type="number" placeholder="Lead Time (in days)" [(ngModel)]= "LeadTime"name="LeadTime" class="form-control" />
                  </div>

                <!--   <div class="form-group" *ngIf="eventFilter">
                        <select class="form-control" [(ngModel)]="selected" name="EventType"> 
                          <option value="{{item.evt_id}}"  *ngFor="let item of eventFilter">{{item.evt_event_name}} </option>
                        </select>                    
                  </div> -->

                  <select [(ngModel)]="EventType" class="form-control">
                      <option selected="selected"> -- Select Event -- </option>
                      <option value="{{item.evt_id}}"  *ngFor="let item of Event_list">{{item.evt_event_name}} </option>
                  </select>

                  <div class="form-group">
                    <label>GST Certificate</label>
                        <input type="file" placeholder="GST Certificate" (change)="getFileDetails($event)" accept=".jpg,.png,.jpeg,.PNG"[(ngModel)]= "GSTCertificate"name="GSTCertificate" class="form-control" />                      
                  </div>

                   <div class="form-group">
                    <label>Food Certificate</label>
                        <input type="file" placeholder="Food Certificate" (change)="getFileDetails1($event)"accept=".jpg,.png,.jpeg,.PNG"[(ngModel)]= "FoodCertificate"name="FoodCertificate" class="form-control" />
                  </div>

                  <div class="form-group">
                        <input type="text" placeholder="Score" name="Score" [(ngModel)]= "Scores"class="form-control" />                      
                  </div>

                  <div class="form-group">
                      <label>File Upload</label>
                        <input type="file" placeholder="File Upload" (change)="getFileDetails2($event)"[(ngModel)]= "FileUpload"name="FileUpload" class="form-control" />                      
                  </div>

                <div class="col-md-6">
                  <div class="material-group">                  
                    <div class="form-group form-primary">
                      <!-- <ng-multiselect-dropdown
                      [placeholder]="'Select Package'"
                      [data]="dropdownList"
                      [(ngModel)]="selectedItems1"
                      [settings]="dropdownSettings1"
                      name="selectedItems1"
                        >
                    </ng-multiselect-dropdown> -->
                    </div>
                  </div>
                </div>

                         
            <div class="error">
         {{error}} 
         </div>
           <div class="row">                
                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 10px" (click)="close()"> Close</button>
                  


                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="submit" style="margin-left: 10px"  >{{catt_id ? 'Update':'Save'}}</button>
                 </div>
              </div>
  </form>
 

</div>




</div>
</div>

</div>
</div>
</div>



  
<div class="card">
  <div class="col-sm-12 card-header">
    <div class="row">
      <div class="col-sm-12">
        <label class="dt-cust-search float-right">
          <button  class="btn btn-primary m-b-0 waves-light" mdbRippleRadius type="button" (click)="addAction()"> Add</button>
        </label>

       

        <label class="dt-cust-search float-right">
          <img src="assets/images/search.png" style="width: 21px;float: left;margin-top: 8px;">
          <div class="form-group" style="float: left">
            <!-- <label>Search: </label> -->

            <input type='text' class="form-control input-sm m-l-10" placeholder='Search' (keyup)='updateFilter($event)' style="background: none;border: none;border-bottom: 1px solid #d6d2d2;" />
          </div>
        </label>
      </div>
    </div>
  </div>

    <!-- <app-card [title]="'Map Management'"> -->
    <div class="card-body">
      <!--<span class="m-b-20">use class <code>data-table</code> with ngx-datatable</span><br><br>-->
      <ngx-datatable
        class="data-table"
        [rows]="rowsFilter"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [scrollbarH]="true"
        [rowHeight]="'auto'"
        [limit]="10">

        <ngx-datatable-column [width]="80" name="S.No">          
         <ng-template let-rowIndex="rowIndex" let-row="row"  let-expanded="expanded" ngx-datatable-cell-template>
                {{rowIndex+1}}
         </ng-template>       
        </ngx-datatable-column>
     
      <ngx-datatable-column name="First Name" prop="data">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.catt_first_name}}
        </ng-template>

      </ngx-datatable-column>          
      
       <ngx-datatable-column name="Email Address" prop="v1">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.catt_email_address}}
        </ng-template>

      </ngx-datatable-column> 
       <ngx-datatable-column name="Mobile No" prop="v2">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.catt_mobile_no}}
        </ng-template>

      </ngx-datatable-column> 


      <ngx-datatable-column name="Event Type" prop="v2">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.catt_event_type}}
        </ng-template>

      </ngx-datatable-column> 

      <ngx-datatable-column name="Pincode" prop="v2">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.catt_delivery_pincode}}
        </ng-template>

      </ngx-datatable-column> 



      <ngx-datatable-column  name="Actions">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
           
           <a  style="cursor: pointer;"  title="View" (click)="viewAction(row.catt_id)"><img class="data_img" src="assets/images/view.png"></a>
          <a  style="cursor: pointer;" title="Edit" (click)="edit(row.catt_id)"><img class="data_img" src="assets/images/edit.png"></a>
          <a  style="cursor: pointer;" title="Delete"  (click)="delete(row.catt_id)"><img class="data_img" src="assets/images/delete.png"></a>
          

        
        </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <!-- </app-card> -->
  </div>

