<!-- <p>
  orders works!
</p>
 -->
 <div class="card" *ngIf="is_view && ShowForm">

 <div class="row" style="padding: 16px">
      <div class="col-sm-12">
        <a  (click)="close()" mdbRippleRadius style="cursor: pointer;" ><i class="fa fa-chevron-left"></i> BACK</a>          
      </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
       <div class="auth-box card">
      <div class="card-block"> 
      <div class="general-info form-material" style="padding: 28px">

  <form  (ngSubmit)="onSubmit()">
        <div class="container1" >    

        	<select [(ngModel)]="viewdata.menugroup_id" name="Menu_Group" class="form-control">
              	<option value=""> -- Select Menu -- </option>
              	<option value="{{item.menugroup_id}}"  *ngFor="let item of Menu_list">{{item.menugroup_name}} </option>
            </select><br>

            <select [(ngModel)]="viewdata.menu_id" name="Men_List" class="form-control">
                <option value=""> -- Select Sub Menu -- </option>
                <option value="{{item.menu_id}}"  *ngFor="let item of MenuGroup_list">{{item.menu_name}} </option>
            </select><br>

            <div class="form-group">   
            <label>Quantity</label>             
                <input type="text"  readonly="" [(ngModel)]= "viewdata.quantity" name="firstname" class="form-control" />
            </div>                  
                   
            <div class="form-group">   
            <label>Amount</label>             
                <input type="text"  readonly="" [(ngModel)]= "viewdata.amount" name="firstname" class="form-control" />
            </div>
                    

                 
                 <!--  <div class="form-group">
                  	    <img src="{{image_path}}{{viewdata.testi_image}}">                   
                  </div> -->

           <div class="row">                
                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 10px" (click)="close()"> Close</button>
                 </div>
              </div>
  </form>
</div>
</div>
</div>

</div>
</div>
</div>

<div class="card" *ngIf="is_edit && ShowForm">

 <div class="row" style="padding: 16px">
      <div class="col-sm-12">
        <a  (click)="close()" mdbRippleRadius style="cursor: pointer;" ><i class="fa fa-chevron-left"></i> BACK</a>          
      </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
       <div class="auth-box card">
      <div class="card-block">
      <div class="general-info form-material" style="padding: 28px">
  
      <form #myForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="container1" > 

              	<select [(ngModel)]="MenuGroup" name="Menu_Group" class="form-control">
                      <option value=""> -- Select Menu -- </option>
                      <option value="{{item.menugroup_id}}"  *ngFor="let item of Menu_list">{{item.menugroup_name}} </option>
                  </select><br>

                  <select [(ngModel)]="Menulist" name="Men_List" class="form-control">
                      <option value=""> -- Select Sub Menu -- </option>
                      <option value="{{item.menu_id}}"  *ngFor="let item of MenuGroup_list">{{item.menu_name}} </option>
                  </select><br>

              <div class="form-group">   
                <label>Quantity</label>             
                 <input type="text"  [(ngModel)]= "Quantity" name="sdas" class="form-control" />
             </div>                  
                  

             <div class="form-group">   
                <label>Amount</label>             
                 <input type="text"  [(ngModel)]= "Amount" name="sdas" class="form-control" />
             </div>   
                    

                 
                 <!--  <div class="form-group">
                    <label>Image</label>    
                        <input type="file" (change)="getFileDetails($event)" [(ngModel)]= "test_image"accept=".jpg,.png,.jpeg,.PNG" class="form-control" />                  
                   <img  style="height: 179px;width: 254px;" src="{{image_path}}{{test_image}}" *ngIf=is_edit>
                  </div> -->

                  <div class="error">
         {{error}} 
         </div>
           <div class="row">                
                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 10px" (click)="close()"> Close</button>

                    <input type="hidden" name="">
                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="submit" style="margin-left: 10px"  >{{editdata.order_id ? 'Update':'Save'}}</button>

                 </div>
              </div>
  </form>
</div>
</div>
</div>

</div>
</div>
</div>

<div class="card" *ngIf="is_add && ShowForm">

 <div class="row" style="padding: 16px">
      <div class="col-sm-12">
        <a  (click)="close()" mdbRippleRadius style="cursor: pointer;" ><i class="fa fa-chevron-left"></i> BACK</a>          
      </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
       <div class="auth-box card">
      <div class="card-block">
      <div class="general-info form-material" style="padding: 28px">

  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="container1" >  

              	  <select [(ngModel)]="Userlist" (change)="onChange()" name="User_Group" class="form-control">
                      <option value=""> -- Select Caterer -- </option>
                      <option [value]="item.catt_id"  *ngFor="let item of User_list">{{item.catt_first_name}} </option>
                  </select><br>

                  <select [(ngModel)]="Menulist" name="Men_List" class="form-control">
                      <option value=""> -- Select Menu -- </option>
                      <option value="{{item.menu_id}}"  *ngFor="let item of Menu_list">{{item.menu_name}} </option>
                  </select><br>

                  <div class="form-group">                
                    <input type="text" placeholder="Quantity" [(ngModel)]= "Quantity" name="quantity"  class="form-control" />
               	  </div>
                  
                  <div class="form-group">                
                    <input type="text" placeholder="Amount" [(ngModel)]= "Amount" name="amount"  class="form-control" />
               	  </div>
                
                         
            <div class="error">
         {{error}} 
         </div>
           <div class="row">                
            <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="submit" style="margin-left: 10px"  >{{order_id ? 'Update':'Save'}}</button>
            <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 10px" (click)="close()"> Close</button>

                 </div>
              </div>
  </form>
 

</div>




</div>
</div>

</div>
</div>
</div>

<div class="card">
  <div class="col-sm-12 card-header">
    <div class="row">
      <div class="col-sm-12">
        <label class="dt-cust-search float-right">
          <button  class="btn btn-primary m-b-0 waves-light" mdbRippleRadius type="button" (click)="addAction()"> Add</button>
        </label>

       

        <label class="dt-cust-search float-right">
          <img src="assets/images/search.png" style="width: 21px;float: left;margin-top: 8px;">
          <div class="form-group" style="float: left">
            <!-- <label>Search: </label> -->

            <input type='text' class="form-control input-sm m-l-10" placeholder='Search' (keyup)='updateFilter($event)' style="background: none;border: none;border-bottom: 1px solid #d6d2d2;" />
          </div>
        </label>
      </div>
    </div>
  </div>

    <!-- <app-card [title]="'Map Management'"> -->
    <div class="card-body">
      <!--<span class="m-b-20">use class <code>data-table</code> with ngx-datatable</span><br><br>-->
      <ngx-datatable
        class="data-table"
        [rows]="rowsFilter"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [scrollbarH]="true"
        [rowHeight]="'auto'"
        [limit]="10">

        <ngx-datatable-column [width]="80" name="S.No">          
         <ng-template let-rowIndex="rowIndex" let-row="row"  let-expanded="expanded" ngx-datatable-cell-template>
                {{rowIndex+1}}
         </ng-template>       
        </ngx-datatable-column>
     
      <ngx-datatable-column name="Customer Details" prop="data">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.menugroup_name}}
        </ng-template>

      </ngx-datatable-column>    

      <ngx-datatable-column name="Delivery Date and Time" prop="data">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.menugroup_name}}
        </ng-template>

      </ngx-datatable-column> 

      <ngx-datatable-column name="Menus" prop="data">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.menugroup_name}}
        </ng-template>

      </ngx-datatable-column>  

      <ngx-datatable-column name="Quantity & Price" prop="data">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.menugroup_name}}
        </ng-template>

      </ngx-datatable-column>   

      <ngx-datatable-column name="Total Bill" prop="data">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.menugroup_name}}
        </ng-template>

      </ngx-datatable-column>
      
       <ngx-datatable-column name="Created date" prop="v2">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.created_at}}
        </ng-template>

      </ngx-datatable-column> 


      <ngx-datatable-column name="Modified Date" prop="v2">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          {{row.updated_at}}
        </ng-template>

      </ngx-datatable-column> 

   
      <ngx-datatable-column  name="Actions">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
           
           <a  style="cursor: pointer;"  title="View" (click)="viewAction(row.order_id)"><img class="data_img" src="assets/images/view.png"></a>
          <a  style="cursor: pointer;" title="Edit" (click)="edit(row.order_id)"><img class="data_img" src="assets/images/edit.png"></a>
          <a  style="cursor: pointer;" title="Delete"  (click)="delete(row.order_id)"><img class="data_img" src="assets/images/delete.png"></a>
          

        
        </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>
    </div>
    <!-- </app-card> -->
  </div>