<div class="card">

 <div class="row" style="padding: 16px">
      <div class="col-sm-12">
        <a  (click)="close()" mdbRippleRadius style="cursor: pointer;" ><i class="fa fa-chevron-left"></i> BACK</a>          
      </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
       <div class="auth-box card">
      <div class="card-block">
      <div class="general-info form-material" style="padding: 28px">

  <form  (ngSubmit)="onSubmit()">
              <div class="container1" >             
              <div class="form-group">                
                    <input type="text" placeholder="First Name" [(ngModel)]= "rowsFilter.usr_first_name" name="firstname" class="form-control" />
                    </div>                  
                   
                    <div class="form-group">
                        <input type="text" placeholder="Sur Name" [(ngModel)]= "rowsFilter.usr_sur_name"name="surname" class="form-control" />                      
                  </div>

                    <div class="form-group">
                        <input type="text" placeholder="Email Address" [(ngModel)]= "rowsFilter.usr_email_address"name="email" class="form-control" />                      
                  </div>


                    <div class="form-group">
                        <input type="text" placeholder="Mobile No"[(ngModel)]= "rowsFilter.usr_mobile_no" name="mobile" class="form-control" />                      
                  </div>


                  <div class="form-group">
                        <input type="file" placeholder="File Upload" [(ngModel)]= "FileUpload"name="file" class="form-control" />                      
                  </div>

                <div class="col-md-6">
                  <div class="material-group">                  
                    <div class="form-group form-primary">
                      <!-- <ng-multiselect-dropdown
                      [placeholder]="'Select Package'"
                      [data]="dropdownList"
                      [(ngModel)]="selectedItems1"
                      [settings]="dropdownSettings1"
                      name="selectedItems1"
                        >
                    </ng-multiselect-dropdown> -->
                    </div>
                  </div>
                </div>

                         
            <div class="error">
         {{error}} 
         </div>
           <div class="row">                
                    <button class="btn btn-md btn-primary waves-light pull-right" mdbRippleRadius type="button" style="margin-left: 10px" (click)="close()"> Close</button>
          </div>
        </div>
  </form>
 

</div>




</div>
</div>

</div>
</div>
</div>


